<<<<<<< de'l:src/main/resources/static/css/category.css
.contentDiv {
  width: 100%;
  background-color: #FFFFFF;
  min-height: 1000px;
  height: fit-content;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

@media screen and (min-width: 1000px) {
  #categoryDiv {
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 20px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
  }
}

@media screen and (max-width: 1000px) {
  #categoryDiv {
    width: 95%;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 20px;
  }
}

.categoryItem {
  display: block;
  margin-top: 10px;
  color: #303133;
  cursor: pointer;
}


.title1 {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-weight: 900;
  font-family: "Songti SC","Songti TC", serif;
  cursor: pointer;
  font-width: 900;
  width: fit-content;
  line-height: 1.5;
  color: #303133;
}


.title2 {
  font-size: 18px;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  width: fit-content;
  line-height: 1.5;
  color: #303133;
  font-weight: bold;
  font-family: "Songti SC","Songti TC", serif;
}


/*  标题样式*/
.bookTitle {
  margin-top: 20px;
  line-height: 1.5;
  font-weight: 900;
  font-family: "Songti SC","Songti TC", serif;
  color: #303133;
  text-align: center;
}

a {
  display: block;
}

.subTitle{
  font-weight: 900;
  font-family: "Songti TC", "Songti SC", Serif, serif;
  color: #515a6e;
}
=======
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="${desc}"/>
  <title>${book.title} | 燕归来兮</title>
  <link rel="stylesheet" href="/css/category.css">
    <#include "base/key.ftl">

</head>
<body>
<#include "./base/header.ftl">

<div class="contentDiv">
  <h1 style="margin-top: 0" class="bookTitle title is-2">${book.title}</h1>
  <span class="title is-6">${book.subTitle}</span>
  <div id="categoryDiv">
      <#list categoryList.data as category>
          <#if category.depth == 1>
            <a class="title1"
                    <#if category.slug != '#'>
                      href="/page/book/${book.linkUrl}/category/${category.slug}"
                    </#if>
            >
                ${category.title}
            </a>
          <#elseif category.depth == 2>
            <a
                style="margin-left: 40px"
                    <#if category.slug != '#'>
                      href="/page/book/${book.linkUrl}/category/${category.slug}"
                    </#if>
                class="title2">
                ${category.title}
            </a>
          <#else>
            <a
                class="categoryItem"
                style="margin-left: ${category.depth * 20}px;"
                    <#if category.slug != '#'>
                      href="/page/book/${book.linkUrl}/category/${category.slug}"
                    </#if>
            >
                ${category.title}
            </a>
          </#if>
      </#list>
  </div>
</div>
<#include "base/footer.ftl">

</body>
</html>
>>>>>>> feat: 更新样式:web/src/main/resources/templates/book/category.ftl
