.contentDiv {
  width: 100%;
  background-color: #F3F2EE;
  min-height: 1000px;
  height: fit-content;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

@media screen and (min-width: 1000px) {
  #categoryDiv {
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #F3F2EE;
    padding: 20px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
  }
}

@media screen and (max-width: 1000px) {
  #categoryDiv {
    width: 95%;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #F3F2EE;
    padding: 20px;
  }
}

.categoryItem {
  display: block;
  margin-top: 10px;
  color: #303133;
  cursor: pointer;
}


.title1 {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  cursor: pointer;
  font-width: 900 ;
  width: fit-content;
  line-height: 1.5;
  color: #303133;
}


.title2 {
  font-size: 18px;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  width: fit-content;
  line-height: 1.5;
  color: #303133;
}


/*  标题样式*/
.bookTitle {
  margin-top: 20px;
  line-height: 1.5;
  font-weight: 900 !important;
  color: #303133;
  text-align: center;
}

a {
  display: block;
}
