
body {
  background-color: rgba(0, 0, 0, 0.75)
}


.title {
  font-weight: 900 !important;
  font-width: 900;
  font-size: 50px;
  color: white;
  text-align: center;
}

.lake-codeblock-content {
  max-width: 100% !important;
}

.lake-table {
  width: 100% !important;
}


/*  调整图片 变形的问题*/
.lake-drag-image {
  max-width: 95% !important;
  height: auto !important;
  margin: auto;
}

.contentDiv {
  width: 100%;
  min-height: 1024px;
  background-color: #FFFFFF;
  padding-bottom: 20px;
  height: fit-content;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  align-content: center;
}

#content {
  width: 80%;
  margin-top: 20px;
  padding: 20px;
  flex-grow: 1;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.divider {
  height: 1px;
  margin: 0;
  background-color: lightgray;
}


.title {
  font-width: 900;
  line-height: 1.5;
  margin-top: 40px;
  font-size: 30px;
  color: white !important;
}

.detailDiv {
  display: flex;
  display: -webkit-flex;
  width: 90%;
  min-height: 300px;
  border-left: 1px solid lightgrey;
}

/*设置卡片的间距*/
.card {
  margin-bottom: 10px;
  border-radius: 10px;
}

@media screen and (max-width: 800px) {

  #content {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    flex-grow: 1;
    border-radius: 10px;
    background-color: #FFFFFF;
  }

  #side {
    display: none;
  }

  .detailDiv {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    width: 100%;
    min-height: 300px;
  }

  #categoryDiv {
    width: 0;
    display: none;
  }

}

@media screen  and (max-width: 1200px) {


  #content {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    flex-grow: 1;
    border-radius: 10px;
    background-color: #FFFFFF;
  }


  #side {
    display: none;
  }

  .detailDiv {
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    width: 95%;
    min-height: 300px;
  }

  #categoryDiv {
    width: fit-content;
    min-width: 300px;
    min-height: fit-content;
    padding: 20px;
    align-items: flex-start;
  }
}

@media screen  and (min-width: 1200px) {

  #categoryDiv {
    width: fit-content;
    min-width: 400px;
    min-height: fit-content;
    padding: 30px;
    align-items: flex-start;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
  }

  #content {
    width: 70%;
    margin-top: 20px;
    padding: 20px;
    flex-grow: 1;
    border-radius: 10px;
    background-color: #FFFFFF;
  }


  #side {
    width: 300px;
    height: 100px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    flex-grow: 0;
    margin: 20px 20px 20px 30px;
    background-color: #FFFFFF;
    border-radius: 10px;
  }

  .detailDiv {
    display: flex;
    display: -webkit-flex;
    width: 90%;
    min-height: 300px;
  }
}


/*  按钮样式*/
.button {
  margin-top: 19px;
  margin-bottom: 20px;
}

/*  评论区样式*/

#commentArea {
  width: 100%;
  min-height: 180px;
  margin-right: 50px;
}

#commentInfo {
  display: flex;
  display: -webkit-flex;
  width: 100%;
}

.field {
  flex-grow: 1;
}

/*  按钮组*/

.buttons {
  display: flex;
  display: -webkit-flex;
  align-content: space-around;
}


#tagList {
  display: flex;
  flex-direction: row;
}


.tag {
  margin-left: 30px;
}


.tags:last-child {
  margin-bottom: 1rem;
}

.listTag {
  cursor: pointer;
  font-size: 13px;
  text-decoration: none !important;
  color: #303133 !important;
}


/* 覆盖样式*/
.lake-card-margin {
  background: url(https://imgkr.cn-bj.ufileos.com/97e4eed2-a992-4976-acf0-ccb6fb34d308.png);
  width: 100%;
  background-size: 40px;
  background-repeat: no-repeat;
  background-color: #f8f8f8;
  margin-bottom: 7px;
  border-radius: 5px;
  padding-top: 25px;
  background-position: 10px 10px;
}


.lake-codeblock-content {
  background: none !important;
}


.tags:last-child {
  margin-bottom: 1rem !important;
}


/*侧边目录*/

.categoryLink {
  display: block;
  color: rgb(36, 41, 46);
  font-size: 14px;
  margin-top: 2px;
}
