/*  数据列表*/
#share {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


/*宽频设置*/
@media screen and (min-width: 800px) {

  #indexImg {
    object-fit: cover;
    width: 100%;
    height: 450px
  }

  .tab {
    display: flex;
    width: 68%;
    margin-top: 20px;
  }

  .right {
    margin-left: 10%;

  }

}

/*窄屏设置*/
@media screen and (max-width: 800px) {

  #indexImg {
    display: none;
  }

  .tab {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    width: 90%;
    align-items: center;
  }

  .right {
    margin-left: 0;
    align-self: center;

  }
}

#container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-self: center;
  align-items: center;
  margin-top: 40px;

}


.tabTitle {
  font-size: 2rem;
  color: #1976d2;
  font-weight: 700;
  margin-top: 15px;
  text-transform: uppercase;
}

.tabContent {
  font-size: 14px;
  line-height: 2.4rem;
  font-weight: 400;
  color: #444;
  margin-top: 10px;
  text-indent: 2em;
}

.tabDesc {
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.cover {
  box-shadow: 1px 1px 10px 1px #515a6e;
  width: 100%;
  transition: all 0.4s;
}

.cover:hover {
  box-shadow: 1px 1px 10px 1px #303133;
  transform: scale(1.08);
}

.has-text-info {
  color: #303133 !important;
}

.title {
  color: #303133;
  font-weight: normal !important;
}

.indexImgDiv {
  width: 100%;
  min-height: 30%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.indexTitle {
  font-size: 38px;
  color: white;
  transition: all 0.8s linear;
}

.indexTitle:hover {
  letter-spacing: 4px;
  font-size: 45px;
  transition: all 0.5s linear;
  margin-top: -20px;
  color: snow;
}

.indexSubTitle {
  font-size: 20px;
  color: white;
  margin-top: 20px;
}
